body {
  background-color: #f2dad5;
}

label {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px auto;
  width: 350px;
}

label input, textarea, select {
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 10px;
  padding: 15px;
}

h1 {
  color: white;
}

.app {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  background-color: #440303;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  width: 40%;
}

.preview {
  background-color: #440303;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  width: 40%;
}

button {
  background-color: #b71e1e;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px;
  padding: 15px 25px;
}

button:hover {
  background-color: #22c813b9;
}

button:disabled {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}

.super-trunfo {
  width: 40%;
}

.personagens {
  border-radius: 10px;
  width: 80%;
}

.titulo {
  width: 90%;
}
